#pre requis
#sudo apt-get install python3-dev
#sudo apt-get install portaudio19-dev

google-cloud-speech==0.36.3
google-cloud-translate==1.4.0
google-cloud-storage==1.14.0
google-cloud-texttospeech==0.4.0
opencv-python
numpy
pyaudio
